.contact {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}
h1, h2 {
    margin-bottom: 20px;
}
.contact h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #003366;
    font-size: 2em;
  }
.contact-form > p {
    text-align: center;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    background-color: #003366;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-info-item {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.contact-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    height: 150px;
}

.submit-btn {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #044c95;
}

@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }

    .contact-info-item {
        margin-bottom: 20px;
    }
    .contact h2 {
        font-size: 1.5em;
        padding-top: 20px;
    }
}